<%@students.each do |student|%>
<p>FirstName:<%=student.firstname%></p>
<p>LastName:<%=student.lastname%></p>
<p>UserName:<%=student.username%></p>
<p>Password:<%=student.password%></p>
<p>Confirm password: <%=student.password%></p>
<%end%>