<h1>This is <%= current_user.email %> finished application </h2>
<%= @user_application.course_one %>
<%= @user_application.course_one %>
<%= @user_application.course_one %>
<%= image_tag @user_application.ple_certificate.url(:small) %>
<%= image_tag @user_application.uce_certificate.url(:small) %>
<%= image_tag @user_application.uace_certificate.utl(:small) %>